https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
requests
imdbpy
bs4
# for interacting with te.legra.ph
telegraph
youtube-dl
youtube_search
googletrans
aiohttp==3.7.4
requests
ffmpeg-python
pytgcalls==0.0.17
wheel
psutil
tgintegration
gTTS
pyshorteners
aiofiles
wget
youtube-search-python
pyromod
yt_dlp
tswift
datetime
py-tgcalls==0.8.2
