https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
telegraph
googletrans
gTTS
asyncio
aiohttp
aiofiles
requests
pyshorteners
bs4
imdbpy
youtube-search-python==1.6.5
youtube_search
youtube-dl
yt-dlp
wget
python-arq
ffmpeg-python
requests
ytthumb
NumPy
glitch_this
opencv-python-headless
youtube-search-python
pypng
Pillow
Wikipedia
geopy>=2.2.0
py-tgcalls
psutil
tgintegration
wheel
humanize
datetime
pyshorteners
asyncio
datetime
PyDictionary
PyPDF2
prettyconf
cachetools
spamwatch
mapping
telethon
yt-dlp
Heroku3
speedtest
pyyaml
Shazamio
pyshorteners
aiofiles
pyromod
yt_dlp
tswift
datetime
